.App {
  text-align: center;
}
.Imagem{
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pokedexFlex{
  display: flex;
  width:80%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

footer{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color:#cecece;
  font-weight: 700;
  font-size: 12px;
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
